name: Regression Test

on:
  push:
    branches: [develop, master]
  pull_request:

jobs:
  test:
    name: TROVE ${{ matrix.os }} - ${{ matrix.arch }} - ${{ matrix.compiler }} - MPI:${{ matrix.mpi }}
    env:
      OMP_NUM_THREADS: 1
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-20.04 # Required for intel-mkl
        arch:
          - x64
        compiler:
          - gfortran
          - intel
        mpi:
          - true
          - false
        exclude:
          # only use MPI with intel
          - compiler: gfortran
            mpi: true
    steps:
      - uses: actions/checkout@v2

      #- name: Cache benchmark data
        #uses: actions/cache@v2
        #env:
          #cache-name: benchmark-data
        #with:
          #path: test/benchmarks
          #key: benchmark-data

      - name: Restored cached Intel install
        id: cache_intel
        if: ${{ matrix.compiler == 'intel' }}
        uses: actions/cache@v2
        with:
          key: oneapi-${{ matrix.os }}-${{ matrix.arch }}-MPI:${{ matrix.mpi }}
          path: |
            /opt/intel/oneapi/*
            !/opt/intel/oneapi/conda_channel
            !/opt/intel/oneapi/debugger
            !/opt/intel/oneapi/licensing

      - name: Setup Intel compiler and MPI
        if: ${{ matrix.compiler  == 'intel' && steps.cache_intel.outputs.cache-hit != 'true'}}
        env:
          USE_MPI: ${{ matrix.mpi && 1 || 0 }}
        run: |
          wget https://apt.repos.intel.com/intel-gpg-keys/GPG-PUB-KEY-INTEL-SW-PRODUCTS-2023.PUB
          sudo apt-key add GPG-PUB-KEY-INTEL-SW-PRODUCTS-2023.PUB
          echo "deb https://apt.repos.intel.com/oneapi all main" | sudo tee /etc/apt/sources.list.d/oneAPI.list
          sudo apt-get update -o Dir::Etc::sourcelist="sources.list.d/oneAPI.list" -o APT::Get::List-Cleanup="0"
          sudo apt-get install -y intel-oneapi-compiler-fortran
          if [ ${USE_MPI} = 1 ]; then
            sudo apt-get install -y intel-oneapi-mpi-devel intel-oneapi-mkl-devel
          fi

      - name: Setup python
        uses: actions/setup-python@v1
        with:
          python-version: '3.9'
          architecture: x64

      - name: Install Intel MKL
        run: sudo apt-get install -y intel-mkl

      - name: Build (gfortran)
        if: ${{ matrix.compiler == 'gfortran' }}
        run: |
          gfortran --version
          make COMPILER=gfortran MODE=ci

      - name: Build (intel)
        if: ${{ matrix.compiler == 'intel' }}
        env:
          MPI_PARAM: ${{ matrix.mpi && 'USE_MPI=1' || ''}}
        run: |
          source /opt/intel/oneapi/compiler/latest/env/vars.sh
          source /opt/intel/oneapi/setvars.sh
          if [ -d "/opt/intel/oneapi/mkl" ]; then
            source /opt/intel/oneapi/mkl/latest/env/vars.sh
          fi
          # mpif90 uses gfortran by default unless changed like this
          export I_MPI_F90=ifort
          ifort --version
          make COMPILER=intel MODE=ci ${MPI_PARAM}

      - name: Test
        env:
          USE_MPI: ${{ matrix.mpi && 1 || 0 }}
          # nproc is used in the test script for the number of processes
          nproc: ${{ matrix.mpi && 2 || 1 }}
        run: |
          if [[ -d "/opt/intel/oneapi" ]]; then
            source /opt/intel/oneapi/compiler/latest/env/vars.sh
            source /opt/intel/oneapi/setvars.sh
            if [ ${USE_MPI} = 1 ]; then
               source /opt/intel/oneapi/mkl/latest/env/vars.sh
            fi
          fi
          make test
